<div class="span3" >
	<div class="well">
	<!-- <div class="well" style="position:fixed" id="scrollspynavbar"> -->
		<ul class="nav nav-list">
			<li class="nav-header">Boxes</li>
			<li><%= link_to 'Inbox', '/mail/inbox' %></li>
			<li><%= link_to 'Sentbox', '/mail/sentbox' %></li>
			<li><%= link_to 'Drafts', '/mail/drafts' %></li>
			<li><%= link_to 'Deleted', '/mail/deleted' %></li>
			<li class="nav-header">Messages</li>
			<li><%= link_to 'New', '/mail/new' %></li>
			<li><%= link_to 'Templates', '#' %></li>
			<li><%= link_to 'Settings', '#' %></li>
			<!-- <li><%#= link_to 'Inbox', '#inbox' %></li>
			<li><%#= link_to 'Sentbox', '#sentbox' %></li>
			<li><%#= link_to 'Deleted', '#deleted' %></li>
			<li><%#= link_to 'Drafts', '#drafts' %></li> -->
		</ul>
	</div>
</div>