<% content_for :dashboard_content do %>
<div class="user-info-section">
	<div class="row-fluid">
		<div class="span3">
			<!-- <p style="padding:19px 12px 12px 27px; background-color: #E7F4FA; border-radius:5px; border: 1px solid #0088cc;"> -->
			<%= render 'mail_sidebar' %>
			<!-- </p> -->
		</div>
		<div class="span9">
			<div>
				<div>
					<h1 class="boxname">
						<% if !(params[:action][/project/] or params[:action][/user/]) %>
							<%= params[:action].capitalize %>
						<% else %>
							<%= params[:action].scan(/([a-zA-Z]+)_([a-zA-Z]+)/)[0][1].capitalize %>
						<% end %>
					</h1>
				</div>
				<form class="form-search form-inline pull-right">
				  <div class="input-append">
				    <input type="text" class="search-query" style="width:150px;">
				    <button type="submit" class="btn"  style="vertical-align:top" >Search</button>
				  </div>
				  <%= link_to 'Advanced Search', '#', :style => 'vertical-align:middle;' %>
				</form>
			</div>
			<table class='table table-bordered mailbox'>
				<tr style="color:white">
					<% if params[:action][/sentbox/] %>
						<th style="background-color:#67CA5B">Recipients</th>
					<% else %>
						<th style="background-color:#67CA5B">Sender</th>
					<% end %>
					<th style="background-color:#3CB42C">Subject</th>
					<th style="background-color:#2A9109">Last Message Date</th>
				</tr>
				<% @conversations.each do |conv| %>
					<tr>
						<%#= link_to conversation_path(conv) do %>
							<% if params[:action][/sentbox/] %>
								<td><%= link_to conv.participants.uniq.collect {|p| p.name}.join(", "), '#'%></td>
							<% else %>
								<td><%= link_to conv.originator.name, ( conv[:project_id] ? project_conversation_path(conv.project_id, conv.id) : user_conversation_path(conv) ) %></td>
							<% end %>
							<td <%= 'class=project_conversation' if conv[:project_name] %> >
								<% if conv[:project_name] %>
									<span class="label label-info pull-right"><%= conv[:project_name] %></span><br/>
								<% end %>
								<%= link_to( conv.subject, ( conv[:project_id] ? project_conversation_path(conv.project_id, conv.id) : user_conversation_path(conv) ) , :style=> (conv.is_read?(current_user) ? "font-weight:400" : "font-weight:600") ) %> 
								<% if conv.messages.count > 1 %>
									<span class='badge pull-right'> <%= conv.messages.count %> </span>
								<% end %>
							</td>
							<td><%= conv.last_message.created_at.strftime("%B %d, %Y") %></td>
						<%# end %>
					</tr>
				<% end %>
			</table>
		</div>
		<%#= link_to 'New Conversation', new_message_path %>
	</div>
</div>
<% end %>