<% content_for :dashboard_content do %>
<div class="user-info-section">
	<ul class="nav nav-pills mailMenu">
		<li class="dropdown active">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mailbox: <%= params[:action].capitalize %><b class="caret"></b></a>
		    <ul class="dropdown-menu">
				<li><%= link_to 'Inbox', '/mail/inbox', class: (params[:action] == 'inbox' ? 'active': '') %></li>
				<li><%= link_to 'Sentbox', '/mail/sentbox', class: (params[:action] == 'inbox' ? 'active': '') %></li>
				<li><%= link_to 'Drafts', '/mail/drafts', class: (params[:action] == 'inbox' ? 'active': '') %></li>
				<li><%= link_to 'Deleted', '/mail/deleted', class: (params[:action] == 'inbox' ? 'active': '') %></li>
		    </ul>
		 </li>
		<li><%= link_to 'New', '/mail/new' %></li>
		<li><%= link_to 'Templates', '#' %></li>
		<li><%= link_to 'Settings', '#' %></li>
	</ul>

	<h1><%= params[:action] %></h1>
	<div>
		<div class="conv-sender" style="background-color:#D3D3D3">Sender</div>
		<div class="conv-recipients" style="background-color:#C5E4C1">Recipients</div>
		<div class="conv-subject" style="background-color:#BDFCA9">Subject (# of Messages)</div>
		</div>
		<br/>
	<div class="conv-list">
	<% @conversations.each do |conv| %>
		<div>
			<%= link_to conversation_path(conv) do %>
				<div class="conv-sender"><%= conv.originator.name %></div>
				<div class="conv-recipients"><%= conv.participants.uniq.collect {|p| p.name}.join(", ")%></div>
				<div class="conv-subject"><%= "#{conv.subject} (#{conv.messages.count})"  %></div>
			<% end %>
		</div>
	<% end %>
	</ul>
	<%#= link_to 'New Conversation', new_message_path %>
<div class="user-info-section">
<% end %>