<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <h4>Church Information</h4><br/><br/>
  <div><%= f.label :legal_name %> <i>This is the legal name of the church.</i><br/></div>
  <%= f.text_field :legal_name %>

  <div><%= f.label :statement_name %> <i>The name of the church as it will appear on donators' credit card statements.</i><br/></div>
  <%= f.text_field :statement_name %>

  <div><%= f.label :statement_number %> <i>The phone number of the church as it will appear on donators' credit card statements.</i><br/></div>
  <%= f.text_field :statement_number %>

  <div><%= f.label :ein %> <i>The EIN (Employer Identification Number) of your church.</i><br/></div>
  <%= f.text_field :ein %>

  <h4>Church Representative Information</h4><br/><br/>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <h5>Address Information<h5>
  <%= f.label :street %>
  <%= f.text_field :street %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zip %>
  <%= f.text_field :zip %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <h4>Hopelauncher Account Information</h4><br/>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>

<% end %>
<h4>Connect your Account</h4>

<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>

<br/><br/><br/>
<%= link_to "<img src='/assets/stripe/blue-on-light/blue.png'></img>".html_safe, "https://connect.stripe.com/oauth/authorize?" + @user.stripe_query_parameters %>


<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
