<% content_for :dashboard_content do %>
	<div class="row-fluid">
		<div class="span3">
			<%= render 'mail_sidebar' %>
		</div>
		<div class="span9" >
			<h1 style="padding:0px 15px;"><%= @conversation.subject %></h1>
			<div style="border: 2px #BGB solid; background-color: #EEE; padding:15px; margin: 15px auto; width:630px">
			<% @conversation.messages.each_with_index do |msg,i| %>

				<% if msg.persisted? %>
					<% if i != 0 %>
						<hr>
					<% end %>
					<div>
						<div style="display:inline-block;width:75px; height:75px; padding:0 7px 0 7px; vertical-align: top; background-position:center center; background-repeat:no-repeat; background-size:cover;background-image:url(<%=msg.sender.profile_image_url%>);"></div>
						<div style="width:495px; display:inline-block;min-height:75px;padding: 0 7px 0 7px;;">
							<span class="badge"><%= msg.sender.name %></span>
							<span class="badge pull-right"><%= msg.created_at.to_formatted_s(:long_ordinal) %></span><br/>
							<%= msg.body.html_safe %>
						</div>
					</div>
				<% end %>
			<% end %>
			</div>
			<div style="border: 2px #BGB solid; padding:15px; margin: 15px auto; width:630px">
				<%= form_for @new_message, :url => ( params[:action][/project/] ? project_conversation_path(@conversation) : user_conversation_path(@conversation)), :method => :put, class:"form-horizontal" do |f| %>
						<!-- <div class="span3">
							<%#= f.text_field :subject, :placeholder => "Subject" %>
						</div>
						<div class="span3">
							<%#= f.text_field :recipients, :placeholder => "Recipient", :value => '' %>
						</div> -->

						<!-- <h3 style="text-align:center">Reply</h3> -->
						<div style="width:495px; margin: 0 auto;">
							<%= f.text_area :body, :placeholder => "Body", style:"width:495px;height:100px;", size:'20x3' %>
							<%= button_tag( :class => "btn btn-success") do %>
							 	<i class="h-icon-bubble"></i> Reply
							<% end %>
							<%= link_to '<i class="h-icon-remove"></i> Delete'.html_safe, ( params[:action][/project/] ? project_conversation_path(@conversation) : user_conversation_path(@conversation)), :method => :delete, class:"btn btn-error pull-right" %>
						</div> 
					<br/>
				<% end %>
			</div>
			<!-- <div class="dropdown" style="display:inline-block">
			  <a class="btn dropdown-toggle btn-warning" data-toggle="dropdown" href="#">
			    <i class="h-icon-folder"></i> Move
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <li><a tabindex="-1">Updates</a></li>
			    <li><a tabindex="-1">Thank-Yous</a></li>
			    <li><a tabindex="-1">Questions</a></li>
			    <li><a tabindex="-1">Answers</a></li>
			  </ul>
			</div> -->
		</div>
	</div>
<% end %>