<% content_for :dashboard_content do %>
	<div class="tab-pane active" id="donations">
	  	<table class="table table-hover">
				<thead><tr><th>Name</th><th>Organization</th><th>Status</th><th>Stripe Status</th><th>---</th></tr></thead>
				<tbody>
				<% @users.each do |user| %>
					<tr class="<%= @style[user.account_state][:row_class] || '' %>">
						<td><%= link_to user.name ,user %></td>
						<td><%= user.legal_name ? (link_to user.legal_name , user) : '' %></td>
						<td><%= link_to user.account_state ,user %></td>
						<td><%= 'stripe account status' %></td>
						<td><%= link_to 'message', new_user_conversation_path + "?recipient=#{user.id}&subject=Account Status and Approval", class:"btn btn-info btn-mini" %>&nbsp;<%= link_to 'review', user , class:"btn btn-primary btn-mini" %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
	  </div>
<% end %>