<% content_for :dashboard_content do %>
	  <div class="tab-pane active" id="project_participants">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2">
						  <ul class="nav nav-tabs nav-stacked">
						  	<li class="active"><%= link_to "Manage Reward Tiers",project_rewards_path(@project.id)%></li>
						    <li><%= link_to "Track Rewards",project_tracking_rewards_path(@project.id) %></li>
						  </ul>
					</div>
					<div class="span10">
						<div class="row-fluid">
							<div class="span12" >
							<h2>Current Reward Tiers</h2><br/><br/>

							<% @rewards.each do |reward| %>
								<% if reward.persisted? %>
								<div class="reward">
									<small>Donation Amount:</small>&nbsp;&nbsp;<span>$<%= reward.donation_amount_bad_format %></span><hr/>
									<small>Value of Reward:</small>&nbsp;&nbsp;<span>$<%= reward.value_bad_format %></span><hr/>
									<small>Description:</small><br/><span><%= reward.description %></span><hr/>
									<small>Number in Stock:</small>&nbsp;&nbsp;<span><%= reward.stock %></span><br/><br/>
									<%= link_to 'Edit', edit_project_reward_path(@project, reward), class:"pull-left" %>
									<%= link_to 'Delete', project_reward_path(@project, reward), :method => :delete, :remote => true, class:"pull-right delete_reward" %>
									<br/>
								</div>
								<% end %>
							<% end %>
							</div>
						</div>
							<script>
								$(function() {
									$('.delete_reward').on('ajax:success', function(){
										$(this).closest('.reward').remove();
										if($('.reward').empty()){
											$('#reward_scale').prop('disabled', false);
										}
									});
								});
							</script>
							<br/><br/><br/><br/>
							<div class="row-fluid">
								<div class="span12 new_rewards_form">
							      <h2>Create a New Reward</h2><br/><br/>
								  	<%= form_for @reward, :url => project_rewards_path(@project) do |f| %>
										<div class="row-fluid">
											<div class="span4">
												<%= f.label :donation_amount_bad_format, 'Donation Amount' %><br/>
												<%= f.text_field :donation_amount_bad_format, :type => 'currency' %>
												<br/><br/>
												<%= f.label :value_bad_format, 'Tax Value' %><br/>
												<%= f.text_field :value_bad_format, :type => 'currency' %>
												<br/><br/>
												<%= f.label :stock, 'Number in Stock' %><br/>
												<%= f.number_field :stock %><br/>
												<%= f.label :delivery, 'Reward Delivery Type'%><br/>
												<%= f.select :delivery, options_for_select([['none', 'none'], ['Delivered to Donator', 'delivery'], ['Picked up by Donator', 'pickup' ]]).html_safe %>
											</div>
											<!-- <div class="span4"><%#= f.check_box :scale, :disabled => (@rewards.any?{|reward| reward.persisted?}), :style => "display:inline;" %>&nbsp;&nbsp;&nbsp;<%#= f.label :scale, 'scale', :style => "display:inline" %><br/><br/> -->

										<%= f.label :description %><br/>
										<%= f.text_area :description , :onKeyDown => "limitText(this.form.reward_description , this.form.countdown,255);",:onKeyUp =>"limitText(this.form.reward_description , this.form.countdown,255);"%>
								        <br/>You have <input readonly type="text" name="countdown" size="3" value="255" class="input-mini"> out of <span style="font-size:18px">255</span> characters left.</font>
											<script>
									            function limitText(limitField, limitCount, limitNum) {
									              if (limitField.value.length > limitNum) {
									                console.log('limitField '+ toString(limitField.value));
									                console.log('limitCount '+ toString(limitCount.value));
									                console.log('limitNum '+ toString(limitNum));
									                limitField.value = limitField.value.substring(0, limitNum);
									              } else {
									                limitCount.value = limitNum - limitField.value.length;
									              }
									            }
									            limitText(document.getElementById('reward_description'), document.getElementsByName('countdown')[0] ,255);
								          </script>
									      </div>
										</div>
									  <br/>										
							          <br/>
							          <%= f.submit 'Create Reward', :class => 'btn btn-success' %>
								  	<% end %>
								</div>
							</div>
						</div>
	  </div>
	</div>
</div>
<% end %>