<% content_for :dashboard_content do %>
<div class="user-info-section">
<div class="container-fluid">
  <style>
    .pretty {
/*      font-family:"Segoe UI";*/
      font-size: 20px;
      font-weight: 400;
    }
    /*form > div {
      display:inline-block;
      width:40%;
    }*/
    .pretty h1 {
      /*font-family:"Segoe UI";*/
      font-weight: 300;
      font-size: 33px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #666;
    }
    .pretty span.label {
      font-weight: 500;
      font-size: 22px;
      margin-top: 10px;
    }
    .pretty .label {
      white-space: normal;
      margin-bottom: 10px;
      line-height: 20px;
      font-size: 20px;
      border-radius: 8px;
      background-color: #60C98E;
      padding: 5px 20px;
    }
    .pretty .row-fluid.fields {
      /*margin-top: 15px;
      margin-bottom: 15px;*/
      border-left: 8px rgb(120, 158, 120) solid;
      padding: 10px 0px 20px 20px;
    }
  </style>
      <h1>My Projects</h1>
        <ul class="nav nav-tabs">
          <li class="active"><%= link_to 'Projects I\'ve Created', '#created_projects', 'data-toggle'=>"tab" %></li>
          <li><%= link_to 'Projects I\'m Following', '#followed_projects', 'data-toggle'=>"tab" %></li>
          <li><%= link_to 'Projects I\'ve Donated to', '#donated_projects', 'data-toggle'=>"tab" %></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="created_projects">
            <!-- new project -->

            <% if can? :create, Project %>
              <div class="project-partial" style="border: 1px #BBB solid; border-radius:4px; padding:5px;">
                <%= link_to new_project_path, class:"hover-glyph" do %>
                  <div class="thumbnail" style="background-image:url('https://s3.amazonaws.com/Hopelauncher-Test/spaceship.png')" >
                    <!-- <a class="hover-glyph" > --><i class="h-icon-plus" style="font-size: 78px; text-align:center; line-height:200%;"></i><!-- </a> -->
                  </div>
                  <div class="caption" style="text-align:center;">
                    <h4>Create New Project</h4>
                  </div>
                  <p class="desc"></p>
                  <br/>
                  <!-- <span class="label label-info" style="text-align:left"><%#= project.percent_funded %>% Funded</span><br /><br /> -->
                  <div class="progress progress-striped progress-success">
                    <div class="bar" style="width: 25%;"></div>
                  </div>
                  <div class="status" style="text-align: center">
                    <div class="funded">
                      <b> -- %</b><br/>
                      <span class="muted small">Funded</span>
                    </div>
                    <div class="collected">
                      <b>$ --</b><br/>
                      <span class="muted small">Pledged</span>
                    </div>
                    <div class="countdown">
                      <b>Seize</b><br/> <span class="muted small"> the day.</span>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% @created_projects.uniq.each do |project| %>
              <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
          <% end %>
          </div>
          <div class="tab-pane" id="followed_projects">
          <div class="row-fluid">
            <% @followed_projects.uniq.each do |project| %>
                <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
            <% end %>
          </div>
          </div>
          <div class="tab-pane" id="donated_projects">
          <div class="row-fluid">
            <% @donated_projects.uniq.each do |project| %>
                <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
            <% end %>
          </div>
          </div>
        </div>
 </div>
</div>
<% end %>