<%#= render '/messages/messages_sidebar' %>
<div class="container-fluid">
	<div class="row-fluid">

	<div class="span2">
		<ul class="nav nav-pills nav-stacked tiles">
			<li class="active"><%= link_to "<i class=\"h-icon-user\" style=\"font-size: 70px;\"></i><br><span>Profile</span></a></li>".html_safe, @user %></li>
			<li><%= link_to "<i class=\"h-icon-envelop\" style=\"font-size: 70px;\"></i><br><span>Mail</span></a></li>".html_safe, inbox_path %></li>
			<!-- <li><%#= link_to "<i class=\"h-icon-airplane\" style=\"font-size: 70px;\"></i><br><span>Projects</span></a></li>".html_safe, inbox_path %></li> -->
			<li><%= link_to "<i class=\"h-icon-cogs\" style=\"font-size: 70px;\"></i><br><span>Settings</span></a></li>".html_safe, edit_user_registration_path(@user) %></li>
		</ul>
	</div>
	<div class="span10">
		<div class="big-user-square">
			<div class="user-header-section">
				<h1 style="text-align:center"><%= "#{@user.name}'s Profile" %></h1><br/>
				<%= @user.image.url ? image_tag(@user.image_url(:thumb)) : "<i class='h-icon-droplet' style='font-size:40px'></i>".html_safe %>
			</div>
			<br/><br/>
			<div class="user-info-section">
			 
			 <h4>Organization Information</h4>
			  <span class="muted">Organization's Legal Name</span> <br/>
			  <%= @user.legal_name %> <br/>

			  <span class="muted">Statement Name</span> <br/>
			  <%= @user.statement_name %> <br/>
			  
			  <span class="muted">Phone Number</span> <br/>
			  <%= @user.statement_number %>  <br/>

			  <span class="muted">The EIN (Employer Identification Number) of your organization.</span> <br/>
			  <%= @user.ein %> <br/>

			  <span class="muted">Representative Information</span> <br/>
		      <%= "#{@user.first_name} #{@user.last_name}" %> <br/>

			  <span class="muted">Address</span> <br/>
		      <%= @user.street %><br/>
			  <%= @user.city %>
			  <%= @user.state %>
			  <%= @user.zip %>

			  <h4>Hopelauncher Account Information</h4>
			    <span class="muted">Email</span> <br/>
			    <%= @user.email %> <br/>

			    <% if @user.pending_reconfirmation? %>
			      Currently waiting confirmation for: <%= @user.unconfirmed_email %> <br/>
			    <% end %>
				<% if current_user.role?(:admin) %>
				    <%= link_to 'Approve', approve_user_path(@user), class:"btn btn-success" %>&nbsp;<%= link_to 'Needs Work', reject_user_path(@user), class:"btn btn-warning" %>
			    <% end %>

				<h4>Connect your Account</h4>
				<!-- Something about their stripe and facebook integrations -->
			</div>

			<div class="container-fluid user-info-section">
				<h3>My Projects</h3>
				<ul class="nav nav-tabs">
					<li class="active"><%= link_to 'Projects I\'ve Donated To', '#donated_projects', 'data-toggle'=>"tab" %></li>
					<li><%= link_to 'Projects I\'m Following', '#followed_projects', 'data-toggle'=>"tab" %></li>
					<li><%= link_to 'Projects I\'ve Created', '#created_projects', 'data-toggle'=>"tab" %></li>
				</ul>
				<div class="tab-content">
				  <div class="tab-pane active" id="donated_projects">
					<% @user.donated_projects.uniq.each do |project| %>
					    <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
					<% end %>
				  </div>
				  <div class="tab-pane" id="followed_projects">
					<div class="row-fluid">
						<% @user.followed_projects.uniq.each do |project| %>
						    <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
						<% end %>
					</div>
				  </div>
				  <div class="tab-pane" id="created_projects">
					<div class="row-fluid">
						<% @user.created_projects.uniq.each do |project| %>
						    <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
						<% end %>
					</div>
				  </div>
				</div>
				
			</div>
		</div>
	</div>
</div></div>