<% content_for :dashboard_content do %>
<div class="user-info-section">
<div class="container-fluid">
  <style>
    .pretty {
/*      font-family:"Segoe UI";*/
      font-size: 20px;
      font-weight: 400;
    }
    /*form > div {
      display:inline-block;
      width:40%;
    }*/
    .pretty h1 {
      /*font-family:"Segoe UI";*/
      font-weight: 300;
      font-size: 33px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #666;
    }
    .pretty span.label {
      font-weight: 500;
      font-size: 22px;
      margin-top: 10px;
    }
    .pretty .label {
      white-space: normal;
      margin-bottom: 10px;
      line-height: 20px;
      font-size: 20px;
      border-radius: 8px;
      background-color: #60C98E;
      padding: 5px 20px;
    }
    .pretty .row-fluid.fields {
      /*margin-top: 15px;
      margin-bottom: 15px;*/
      border-left: 8px rgb(120, 158, 120) solid;
      padding: 10px 0px 20px 20px;
    }
  </style>
      <% if current_user and current_user.role?(:admin) and @user.account_state != 'approved' %>
        <%= link_to 'Approve', approve_user_path(@user), class:"btn btn-success" %>&nbsp;<%= link_to 'Needs Work', reject_user_path(@user), class:"btn btn-warning" %>
      <% end %>
      <div class="pretty">
      <h1>Organization Information</h1>
      <div class="row-fluid fields">
        <span class="label">Description</span><br/>
        <%= @user.description %>
      </div>
      <div class="row-fluid fields">

        <div class="span6">
          <span class="label">Organization Name</span><br/>
          <div><%= @user.statement_name %></div>
        </div>
        <div class="span6">
          <span class="label">Phone Number</span><br/>
          <div><%= @user.statement_number %></div>
        </div>
      </div>
      <hr>
      <!-- ORG REP SECTION -->
      <h1>Organization Representative Information</h1><br/>
      <div class="row-fluid fields">
        <div class="span6">
          <span class="label">Full Name</span><br/>
          <div>
            <%= @user.first_name %>&nbsp;<%= @user.last_name %>
          </div>
        </div>
        <div class="span6">
          <span class="label">Address</span><br/>
          <div>
            <%= @user.street %><br/>
            <%= @user.city %>&nbsp;<%= @user.state %>&nbsp;<%= @user.zip %>
          </div>
        </div>
      </div>
    </div>
      <!-- Hopelauncher Account -->
      <hr>
      <h3>My Projects</h3>
        <ul class="nav nav-tabs">
          <li class="active"><%= link_to 'Projects I\'ve Donated To', '#donated_projects', 'data-toggle'=>"tab" %></li>
          <li><%= link_to 'Projects I\'m Following', '#followed_projects', 'data-toggle'=>"tab" %></li>
          <li><%= link_to 'Projects I\'ve Created', '#created_projects', 'data-toggle'=>"tab" %></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="donated_projects">
          <% @user.donated_projects.uniq.each do |project| %>
              <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
          <% end %>
          </div>
          <div class="tab-pane" id="followed_projects">
          <div class="row-fluid">
            <% @user.followed_projects.uniq.each do |project| %>
                <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
            <% end %>
          </div>
          </div>
          <div class="tab-pane" id="created_projects">
          <div class="row-fluid">
            <% @user.created_projects.uniq.each do |project| %>
                <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
            <% end %>
          </div>
          </div>
        </div>
 </div>
</div>
<% end %>