<%= render '/messages/messages_sidebar' %>
<div class="span9">
<h1>User</h1>
<%= image_tag current_user.image_url(:thumb) if current_user.image %>
<br/ >
<!-- <h3>Messages</h3>
<%#= link_to 'Conversations', conversations_path %>
<br/ >
<br/ >
 -->
 <h3>Projects</h3>
 	<ul>
 		<% current_user.created_projects.each do |project| %>
	 		<li><%= link_to project.title, project %></li>
		<% end %>
	</ul>
 <h3>Connect to Stripe</h3>
 <%#= link_to "<img src='/assets/stripe/blue-on-light/blue.png'></img>".html_safe, "https://connect.stripe.com/oauth/authorize?" + @user.stripe_query_parameters %>
 <% if current_user %>
	 <%= link_to "<img src='/assets/stripe/blue-on-light/blue.png'></img>".html_safe, user_omniauth_authorize_path(:stripe_connect) %>
 <% else %>
	 <%= link_to "<img src='/assets/stripe/blue-on-light/blue.png'></img>".html_safe, user_omniauth_authorize_path(:stripe_connect) %>
 <% end %>
 <h3>Info</h3>
</div>