<% content_for :content do %>
  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span2">
        <ul class="nav nav-pills nav-stacked tiles">
          <li <%= "class=active" if params[:controller] == "users" and params[:action]== "show" %> ><%= link_to "<i class=\"h-icon-user\" style=\"font-size: 70px;\"></i><br><span>Profile</span></a></li>".html_safe, @user %></li>
          <li <%= "class=active" if params[:controller] == "conversations" %> ><%= link_to "<i class=\"h-icon-envelop\" style=\"font-size: 70px;\"></i><br><span>Mail</span></a></li>".html_safe, inbox_path %></li>
          <li <%= "class=active" if params[:controller] == "users/registrations" and (params[:action][/^edit/] == "edit" or params[:action] == "update") %> ><%= link_to "<i class=\"h-icon-cogs\" style=\"font-size: 70px;\"></i><br><span>Account Settings</span></a></li>".html_safe,   edit_account_user_path(@user.id) %></li>
          <li <%= "class=active" if params[:controller] == "users" and (params[:action]== "projects") %> ><%= link_to "<i class=\"h-icon-mug\" style=\"font-size: 70px;\"></i><br><span>Projects</span></a></li>".html_safe,   projects_user_path(@user.id) %></li>
        </ul>
      </div>
      <div class="span10">
        <div class="big-user-square">
          <% if params[:controller] != "conversations" %>
            <div class="user-header-section">
              <h1 style="text-align:center"><%= "#{@user.name}'s Profile" %></h1>
                <div class="profile_image" style="background-image:url(<%= @user.profile_image_url %>);">
                </div>
            </div>
              <br/><br/>
              <br/><br/>
          <% end %>
          	<%= content_for?(:dashboard_content) ? yield(:dashboard_content) : yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>