<br/>
<p style="max-width: 450px; margin: 0 auto; font-size: 18px; font-weight: 300;"><%= @project.title.capitalize %> successfully met its pledge goal, and we want to thank you on their behalf! This message also confirms that your pledge of $<%= @donation.dollar_amount%> to <%= @project.title %> was collected.
	
You can review the details of it <%= link_to 'here', project_donation_url(@project, @donation), :style => "text-decoration: none; color: #0088cc;" %>
</p>
<br/>
<table style="border: 1px solid #CCC; border-radius: 6px; background-color: white; margin: 0 auto; font-weight: 300;">
	<tr style="margin-top: 10px; margin-bottom: 10px;" ><td style="margin-left: 10px; margin-right: 10px; padding:10px;">Organization</td><td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%= @project.creator.name %></td></tr>
	<tr style="margin-top: 10px; margin-bottom: 10px;" ><td style="margin-left: 10px; margin-right: 10px; padding:10px;">Project </td><td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%= @project.title %></td></tr>
	<tr style="margin-top: 10px; margin-bottom: 10px;" ><td style="margin-left: 10px; margin-right: 10px; padding:10px;">Cardholder Name</td><td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%#= @donation.donator.name %><%= @donation.stripe_hash[:card][:cardholder_name] %></td></tr>
	<tr style="margin-top: 10px; margin-bottom: 10px;" ><td style="margin-left: 10px; margin-right: 10px; padding:10px;">Amount</td><td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%= @donation.dollar_amount %></td></tr>
	<tr style="margin-top: 10px; margin-bottom: 10px;" ><td style="margin-left: 10px; margin-right: 10px; padding:10px;">Card Type</td><td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%#= @donation[:card_type] %><%= @donation.stripe_hash[:card][:type] %></td></tr>
	<tr style="margin-top: 10px; margin-bottom: 10px;" ><td style="margin-left: 10px; margin-right: 10px; padding:10px;">Last 4 Digits</td><td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%#= @donation[:last4] %><%= @donation.stripe_hash[:card][:last4] %></td></tr>
</table>
<% if @donation.reward %>
		<p style="max-width: 450px; margin: 0 auto; font-size: 18px; font-weight: 300;">Since this project was successfully funded, you'll recieved the following reward soon. If you have any concerns, contact the project from the <%= link_to 'Project Page.', @project %></p>
		<table style="border: 1px solid #CCC; border-radius: 6px; background-color: white; margin: 0 auto; font-weight: 300;">
			<tr style="margin-top: 10px; margin-bottom: 10px;" >
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;">Description</td>
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%= @donation.reward.description.html_safe %></td>
			</tr>
			<% if @donation.reward_quantity %>
			<tr style="margin-top: 10px; margin-bottom: 10px;" >
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;">Quantity</td>
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%=  @donation.reward_quantity %></td>
			</tr>
			<tr style="margin-top: 10px; margin-bottom: 10px;" >
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;">Total value (for tax purposes)</td>
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;">$<%=  "%#.2f" % (@donation.reward_quantity*@donation.reward.value/100) %></td>
			</tr>
			<% else %>
			<tr style="margin-top: 10px; margin-bottom: 10px;" >
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;">Value (for tax purposes)</td>
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;">$<%=  "%#.2f" % (@donation.reward.value/100) %></td>
			</tr>
			<% end %>
		</table>
<% end %>
<% if @donation.project_participant %>
		<p style="max-width: 450px; margin: 0 auto; font-size: 18px; font-weight: 300;">Your donation is marked to go toward a particular participant.</p>
		<table style="border: 1px solid #CCC; border-radius: 6px; background-color: white; margin: 0 auto; font-weight: 300;">
			<tr style="margin-top: 10px; margin-bottom: 10px;" >
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;">Project Participant</td>
				<td style="margin-left: 10px; margin-right: 10px; padding:10px;"><%= @donation.project_participant.name %></td>
			</tr>
		</table>
<% end %>
<br/>