<div class="container-fluid big-project-square" id="new_donation">
		<% if !(@top_donations.empty?) %>
				<div class="row-fluid" id="leaders">
					<div class="span4">
						<span style="font-weight:500; font-size:18px;">The Numbers</span><br/><br/>
						Total Pledged: <span class="pull-right">$<%= @project.collected_dollar_amount %></span><br/>
						Number of Pledges: <span class="pull-right"><%= @project.donations.count %></span><br/>
						Average Pledge: <span class="pull-right">$<%= @project.average_dollar_amount %></span><br/>
					</div>
					<div class="span4">
						<span style="font-weight:500; font-size:18px;">Top Pledgers</span><br/><br/>
						<ol>
							<% @top_donations.each do |d| %>
								<li><%= "#{d.donator.name}    <span class='pull-right'>$#{d.dollar_amount}</span>".html_safe%></li>
							<% end %>
						</ol>
					</div>
					<div class="span4">
						<span style="font-weight:500; font-size:18px;">Top Fundraisers</span><br/><br/>
						<ol>
							<% @top_participants.each do |p| %>
								<li><%= "#{p.name}   <span class='pull-right'>$#{p.collected_dollar_amount}</span>".html_safe%></li>
							<% end %>
						</ol>
					</div>
				</div>
				<br/>
		<% end %>
		<div class="row-fluid">
			<div class="span8">
				<%= form_tag project_donations_path(@project), :class => "stripe-checkout-box" do %>
					<div class="pledge_amount">
						<span style="font-weight:500; font-size:18px;">Donation Amount</span>

						<label class="radio"><input type="radio" name="donation[amount]" id="optionsRadios1" value="1000"><span>$10</span></label>

						<label class="radio"><input type="radio" name="donation[amount]" id="optionsRadios2" value="2500"><span>$25</span></label>

						<label class="radio"><input type="radio" name="donation[amount]" id="optionsRadios3" value="10000"><span>$100</span></label>
					
						<label class="radio" for="optionsRadios4">
							<input type="radio" name="donation[amount]" id="optionsRadios4" value="variable">
							<input type="currency" id="typedValue" name="custom_amount">
						</label>
					</div>
					<script>
					</script>
					<!-- <div id="tier_reward">
						<h4 id="tier_reward_donation_amount"></h4><br/>
					</div>  -->
					<div id="reward" style="display:none">
						<span style="font-weight:500; font-size:18px;">Rewards</span><br/><br/>
						<p>Donation Tier: <span id="reward_donation_amount"></span></p><br/>
						<span id="tier_choice_label" style="display:none">Choose your reward:</span>
						<select data-hide-disabled="true" id="tier_choice_select"  name="donation[reward_id]" class="selectpicker" >
							<% @rewards.each_with_index do |reward,i| %>
								<option value="<%= reward.id %>" <%= @scale ? "selected" : "" %>>Option #<%= i %></option>
							<% end %>
						</select><br/>
						<span id="scale_quantity_label" style="display:none">Quantity :</span><input type="number" value="1" min="0" name="donation[reward_quantity]" id="scale_donation_quantity" style="display:none;">
						<br/><p>Description: <span id="reward_description"></span></p><br/>
					</div> 
					<% if !(@project_participants.empty?)  %>
					<div id="project_participants">
						<span style="font-weight:500; font-size:18px;">Donating For</span>&nbsp;
						<input type="text" id="donation_project_participant_fullname"><br/><br/>
						<div id="participant_list">
							<% @project_participants.each do |pp| %>
								<label type="radio" class="project_participant" for="donation_project_participant_id_<%=pp.id %>">
										<input type="radio" name="donation[project_participant_id]" id="donation_project_participant_id_<%=pp.id %>" value="<%= pp.id %>" style="display:none">
										<div class="initial"><%= pp[:name] %></div>
								</label>
							<% end %>
						</div>
						<script>
							$(document).ready(function () {
								$("#optionsRadios4").focus(function(){ $('#typedValue').focus(); });
								//
							    $("#donation_project_participant_fullname").on('keyup keydown', function(){
							    	filterField = this;
							    	$("#project_participants :radio").each(function(index, element){
							    		$(element).removeAttr('checked');
							    	});
							    	if($(this).val() == ''){
										$(".project_participant").show();
									}
									else{
										$(".project_participant").each( function(index){
											if ($(this).find("span").text().toLowerCase().search($(filterField).val().toLowerCase()) == -1){
												$(this).hide();
											}else{
												$(this).show();
											}
										});
									}
							    });
								$("#project_participants label[type='radio']").mousedown(function(e){
								  var $radio = $(this).find(':radio');
								  var $label = $(this);
								  if( $radio.is(':checked') ){
								    var uncheck = function(){
								      setTimeout(function(){$radio.removeAttr('checked');$radio.trigger('change')},0);
								    };
								    var unbind = function(){
								      $label.unbind('mouseup',up);
								    };
								    var up = function(){
								      uncheck();
								      unbind();
								    };
								    $label.bind('mouseup',up);
								    $label.one('mouseout', unbind);
								  }
								});
								$("#project_participants :radio").on('change', function(){
									//console.log($(this).is(':checked'));
									if( ($(this).is(':checked'))){
										$('#donation_project_participant_fullname').val($(this).siblings('.initial').text());
									}else {
										$('#donation_project_participant_fullname').val("");
									}
								});
							});

						</script>
					</div>
					<br/>
					<% end %>
				  <button id="customButton" class="btn btn-large text-center">Create Your Pledge</button>
				<% end %>
			</div>
			<div class="span4 rewards">
				<% if @project.rewards.any? {|reward| reward.persisted?} %>
						<h2>Rewards</h2><br/><br/>
						<% @project.rewards.collect {|reward| reward.persisted? ? reward : nil}.compact.each do |reward| %>
							<h3>$<%= reward.donation_amount_bad_format %></h3><%= reward.description.html_safe %>
							<% if reward.scale %>
								<br/>Get one for each $<%= reward.donation_amount_bad_format %> donation
							<% end %>
							<br/><br/>
						<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> -->
  <script>
	//get value from form
	function getAmount() {
		if($('.pledge_amount > label input[type=radio]:checked').length == 1) {
			if($('.pledge_amount > label input[type=radio]:checked').val() == 'variable'){
				return parseFloat( $('#typedValue').val().replace(/[\,|\.|$|\s]/gi,'')); //should error check this
			} else{
				return parseInt($('.pledge_amount > label input[type=radio]:checked').val());
			}
		}
		alert('should dismiss because no valid value');
	}

    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };
			
      StripeCheckout.open({
        key:         "<%= @project.creator.stripe_publishable_key %>", //project owner's publishable key
        amount:      getAmount(), // pull from form
        currency:    'usd',
        name:        '<%= @project.title ? @project.title.html_safe : "" %>', //Project Name
        description: "<%= 'A donation to '+@project.title ? @project.title.html_safe : "" %> of $"+ getAmount().toFixed(2).toString(), //Donation
        panelLabel:  'Checkout',
        token:       token
      });
      
      return false;
    });
	$(function() {
		var tiers;
		tiers = <%= @rewards.to_json.to_s.html_safe %>;
		// $('.selectpicker').selectpicker();
		$('#tier_choice_select').on('change', function(){
			$('#reward_description').text( tiers[this.selectedIndex].description );
			$('#donation_reward_id').attr('value', tiers[this.selectedIndex].id );
		});
		if (tiers !== []){
			$('.pledge_amount > label input').on('change check', function() {
				value = -1;
				console.log(this);
				// if($(this).prop("type") == 'radio'){
				// 	if( $(this).prop("value") == "variable" && $(this).prop("checked") == true ) {
				// 		value = parseFloat($(this).next().prop('value').match(/\s*\$\s*([\,\d]+\.\d+)\s*/)[1] );
				// 		console.log(value);
				// 		// if (isNaN(value)){
				// 		// 	value = 0;
				// 		// 	console.log(value);
				// 		// }
				// 	}
				// 	else {
				// 		value = parseFloat($(this).prop("value"));
				// 	}
				// }
				// else if($(this).attr("type") == "currency"){
				// 	value = parseFloat($(this).prop("value").match(/\s*\$\s*([\,\d]+\.\d+)\s*/)[1]);
				// 	console.log(value);
				// }
				// else{
				// 	value = -1;
				// }
				value = getAmount();
				console.log(value);
				if(value > -1){
					// tiers.sort(function(a,b){
					// 	return a.donation_amount > b.donation_amount;
					// });
					var tier=undefined;
					for(var i = 0; i < tiers.length ; i++ ){
						// console.log(tiers[i]);
						if( tiers[i].donation_amount <= value) {
							tier = tiers[i];
						}
					}
					console.log(tier);
					if(tier === undefined || tier === null){
						$("#reward").hide();
						$('#tier_choice_select').attr('disabled', true);
						
						$("#scale_donation_quantity").attr('disabled', true);
					}
					else{
						$("#reward").show();
						$("#reward_donation_amount").text("$"+(tier.donation_amount/100).toString());
						$("#reward_description").text(tier.description);
						if(tier.scale == true ) {
							$("#scale_donation_quantity").prop('max', Math.floor(value/tier.donation_amount) );
							$("#scale_donation_quantity").prop('value', Math.floor(value/tier.donation_amount) );
							// $("#scale_quantity_label").show();
							// $("#scale_donation_quantity").show();

							$("#scale_donation_quantity").attr('disabled', false);
						}
						else{
							selectFlag = false;
							for(var j =  tiers.length -1; j > -1; j-- ){
								if(tiers[j].donation_amount <= value){
									$($("#tier_choice_select option")[j]).attr('disabled', false);
									if(selectFlag == false){
										$($("#tier_choice_select option")[j]).attr('selected', true);
										selectFlag = true;
									}
								}else{
									$($("#tier_choice_select option")[j]).attr('disabled',true);
									$($("#tier_choice_select option")[j]).attr('selected', false);
								}
								//select one
								//set description
								//set input name
							}
							$("#tier_choice_label").show();
							$('#tier_choice_select').attr('disabled', false);
							$('.selectpicker').selectpicker('refresh');
							// $("#tier_choice_select").show();
						}
						$("#reward").show();
					}
				}
			});
		};
	});
  </script>