<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </div>
  <script>
    function limitText(limitField, limitCount, limitNum) {
      if (limitField.value.length > limitNum) {
        limitField.value = limitField.value.substring(0, limitNum);
      } else {
        limitCount.value = limitNum - limitField.value.length;
      }
    }
  </script>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '30x5', :onKeyDown => "limitText(this.form.project_description,this.form.countdown,150);",
:onKeyUp =>"limitText(this.form.project_description,this.form.countdown,150);"%>
    <font size="1">(Maximum characters: 150)<br>
    You have <input readonly type="text" name="countdown" size="3" value="100" class="input-mini"> characters left.</font>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= text_area_tag 'project[content]', (@project.content.nil? ? "" : @project.content.html_safe), :id => 'project_content', :size => '200x200' %>
  </div>
  <!-- , :class => "ckeditor"
  <script>
    // $(function() {
    //   CKEDITOR.replace('project_content');
    // });
  </script> -->
  <%#= f.hidden_field :user_id %>
  <%#= javascript_include_tag 'tinymce/tinymce.min.js' %>
  <%= tinymce_assets %>
  <script type="text/javascript" src="/assets/tinymce.js"></script>
  <script>
    tinymce.init({
        selector: "#project_content",
        plugins: "image"
        <% if @project.gallery_images %>
          , image_list: <%= (render( :inline => (@project.gallery_images.collect {|g_i| {:title => (g_i.image.url[/\/[^\/]+\./][1..-2]).html_safe, :value => g_i.image.url } }).to_json)) %>
        <% end %>
     });
  </script>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
