<!-- Showing Stats -->
<% if @project.donators.count > 0 %>
	<div class="donators-count">
		<h1><%= @project.donators.count %></h1> donators.
	</div>
<% end %>
<div class="elapsed">
	<h1><%= distance_of_time_in_words(@project.created_at, Time.now)%></h1> since this campaign started. 
</div>
<!-- this is actually the elapsed time, i need to add an end-date to the project -->
<div class="collected">
	<h1>$<%= @project.collected %></h1> of <%= '$'+@project.goal.to_s%> raised
</div>

<br><br>
<% if current_user %>
<div id="accordion2">
	    <a class="btn btn-large btn-block" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" >
	        <span class="fs1" aria-hidden="true" data-icon="">&nbsp;</span>Donate
	    </a>
	    <div id="collapseOne" class="collapse">
	      <!-- <div class="accordion-innerx"> -->
			<%= form_tag project_donations_path(@project), :class => "stripe-checkout-box well" do %>
					
					<label class="radio"><input type="radio" name="donation[amount]" id="optionsRadios1" value="10.00">$10</label>

					<label class="radio"><input type="radio" name="donation[amount]" id="optionsRadios2" value="25.00">$25</label>

					<label class="radio"><input type="radio" name="donation[amount]" id="optionsRadios3" value="100.00">$100</label>
				
				
				<label class="radio"><input type="radio" name="donation[amount]" id="optionsRadios4" value="variable"  class="iradio"><input type="currency" id="typedValue" name="custom_amount"></label>

			  <button id="customButton" class="btn btn-success text-center">Donate</button>
			<% end %>
	    </div>
</div>
<br/>
	<% if current_user.followed_projects.exists?(@project.id) %>
		<%= link_to 'Stop Following this Project', destroy_project_following_path(@project, current_user.followings.find_by_project_id(@project.id).id), class:"btn btn-block" %>
	<% else %>
		<%= link_to 'Follow this Project', create_project_following_path(@project), class:"btn btn-block" %>
	<% end %>
<% else %>
     <a class="btn btn-success btn-large btn-block" href="<%= new_user_registration_path %>">Sign Up To Donate</a>
<% end %>


<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <script>
	//get value from form
	function getAmount() {
		if($('input[type=radio]:checked').length == 1) {
			if($('input[type=radio]:checked').val() == 'variable'){
				return parseFloat( $('#typedValue').val().match(/(\d+\.\d+)/)[0]); //should error check this
			} else{
				return parseInt($('input[type=radio]:checked').val());
			}
		}
		alert('should dismiss because no valid value');
	}

    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };
			
      StripeCheckout.open({
        key:         "<%= @project.creator.stripe_publishable_key %>", //project owner's publishable key
        amount:      getAmount()*100, // pull from form
        currency:    'usd',
        name:        '<%= @project.title %>', //Project Name
        description: "<%= 'A donation to '+@project.title.to_s %> of $"+ getAmount().toFixed(2).toString(), //Donation
        panelLabel:  'Checkout',
        token:       token
      });

      return false;
    });
  </script>
<%# end %>