<!-- Showing Stats -->
<div class="sidebar_project_info">
	<% if @project.donators.count > 0 %>
		<div class="donators-count">
			<h1><%= @project.donators.count %></h1> donators.
		</div>
	<% end %>
	<div class="elapsed">
		<h1><%= distance_of_time_in_words(@project.created_at, Time.now)%></h1> since this campaign started. 
	</div>
	<!-- this is actually the elapsed time, i need to add an end-date to the project -->
	<div class="collected">
		<h1>$<%= @project.collected %></h1> of <%= '$'+@project.goal_bad_format.to_s%> raised
	</div>

<br><br>
<% if current_user %>
	    <%= link_to '<span class="h-icon-heart">&nbsp;</span>Donate'.html_safe, new_project_donation_path(@project), class:"btn btn-large btn-block" %>
	    <!-- <a class="btn btn-large btn-block" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" >
	        <span class="fs1" aria-hidden="true" data-icon="">&nbsp;</span>Donate
	    </a>
	    <div id="collapseOne" class="collapse">
			
	    </div> -->
<br/>
	<% if current_user.followed_projects.exists?(@project.id) %>
		<%= link_to 'Stop Following this Project', destroy_project_following_path(@project, current_user.followings.find_by_project_id(@project.id).id), class:"btn btn-block" %>
	<% else %>
		<%= link_to 'Follow this Project', create_project_following_path(@project), class:"btn btn-block" %>
	<% end %>
<% else %>
     <a class="btn btn-success btn-large btn-block" href="<%= new_user_registration_path %>">Sign Up To Donate</a>
<% end %>

</div>

<%# end %>