<div class="project-partial" style="border: 1px #BBB solid; border-radius:4px; padding:5px;">
	<a href="<%= project_path(project.id) %>">
		<div class="thumbnail" <%= project.profile_image ? "style=background-image:url(\'#{project.profile_image.image.url}\')" : nil %> >
		</div>
		<div class="caption">
			<h4><%= project.title %></h4>
		</div>
		<p class="desc"><%= project.description ? project.description : 'placeholder'  %></p>
		<span class="label label-info" style="text-align:left"><%= project.percent_funded %>% Funded</span><br /><br />
		<div class="progress progress-striped">
		  <div class="bar" style="width: <%= project.percent_funded %>%;"></div>
		</div>
	</a>
</div>