<% content_for :content do %>
<!-- 
	link to messages templates + user groups
	link to project-specific messages box
	link to donations or just show donations here, eager load users
	link to stats?

	
 -->
<div class="container-fluid big-dashboard-square">
	<h1><%= @project.title %></h1>
	<div class="row-fluid">
		<div class="span12">
		  <br/><br/>
		  <!-- tabs -->
		  <ul class="nav nav-tabs hl">
			  <li <%= "class=\'active\'".html_safe if params[:action] == 'staging' %> ><%= link_to 'Staging',staging_project_path(@project) %></li>
			  <li <%= "class=\'active\'".html_safe if params[:action] == 'project_communications' %> ><%= link_to 'Project Communications', project_communications_project_path(@project) %></li>
			  <li <%= "class=\'active\'".html_safe if params[:action] == 'donations' %> ><%= link_to 'Donations',donations_project_path(@project) %></li>
			  <li <%= "class=\'active\'".html_safe if params[:action] == 'edit_gallery' %> ><%= link_to 'Add/Remove Images',edit_gallery_project_path(@project) %></li>
			  <li <%= "class=\'active\'".html_safe if params[:action] == 'edit_content' %> ><%= link_to 'Edit Content', edit_content_project_path(@project) %></li>
			  <li <%= "class=\'active\'".html_safe if params[:action] == 'edit_settings' %> ><%= link_to 'Edit Settings',edit_settings_project_path(@project) %></li>
			  <li <%= "class=\'active\'".html_safe if params[:action] == 'updates' %> ><%= link_to 'Updates',updates_project_path(@project) %></li>
			</ul>
			<div class="tab-content">
				<%= content_for?(:dashboard_content) ? yield(:dashboard_content) : yield %>
			</div>
		</div>
	</div>
</div>
<% end %>
<%= render template: "layouts/application" %>