<% content_for :dashboard_content do %>
	<div class="tab-pane" id="donations">
	  	<table class="table table-hover">
				<thead><tr><th>Donator</th><th>Donation ID</th><th>Amount</th><th>Date</th><th>Status</th></tr></thead>
				<tbody>
				<% @donations_with_info.each do |donation_w_info| %>
					<tr class="<%= donation_w_info[:status] == 'Successful' ? 'success' : 'error' %>">
						<td><%= donation_w_info[:name] %></td>
						<td><%= link_to donation_w_info[:donation].id, (project_donation_path @project, donation_w_info[:donation].id) %></td>
						<td>$<%= donation_w_info[:donation].amount %></td>
						<td><%= donation_w_info[:donation].created_at %></td>
						<td><%= donation_w_info[:status] %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
	  </div>
<% end %>