<% content_for :dashboard_content do %>
  <div class="tab-pane active" id="edit-main-page">
  <%= form_for(@project) do |f| %>
    <div style="display:block; width:710px; padding:5px; margin: 0 auto;">
      <h2 class="text-center">Main Article</h2>
    	<%= text_area_tag 'project[content]', (@project.content.nil? ? "" : @project.content.html_safe), :id => 'project_content', :size => '200x200' %>
    </div>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <script>
      tinymce.init({
          selector: "#project_content",
          height: 700,
          width: 700,
          plugins: "image",
          <% if @project.gallery_images %>
            image_list: <%= (render( :inline => (@project.gallery_images.collect {|g_i| {:title => (g_i.image.url[/\/[^\/]+\./][1..-2]).html_safe, :value => g_i.image.url } }).to_json)) %>,
          <% end %>
          theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
          font_size_style_values: "12px,13px,14px,16px,18px,20px",
          menu: { 
              edit: {title: 'Edit', items: 'undo redo | cut copy paste | selectall'}, 
              insert: {title: 'Insert', items: '|'}, 
              view: {title: 'View', items: 'visualaid'}, 
              format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript font_select fontsize_select | formats | removeformat'}, 
              table: {title: 'Table'}, 
              tools: {title: 'Tools'} 
          }
       });
    </script>
    <style>
      .mce-path * {
        display: none;
      }
      .mce-path .mce-divider {
        display: none;
      }
    </style>
    <br/><br/>
    <div class="actions">
      <%= f.submit 'Save Changes', :class=> 'btn btn-large btn-success'  %>
    </div>

  <% end %>
  </div>
<% end %>