<% content_for :dashboard_content do %>
	<div class="tab-pane active" id="project_comm">
		<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
			<div class="row-fluid">
				<div class="span2">
				  <ul class="nav nav-tabs nav-stacked">
				  	<li class="active"><a href="#social_media" data-toggle="tab">Social Media</a></li>
				    <li><a href="#project_inbox" data-toggle="tab">Project Inbox</a></li>
				    <li><a href="#project_outbox" data-toggle="tab">Sent Project Messages</a></li>
				    <li><a href="#project_messages" data-toggle="tab">New Project Messages</a></li>
				  </ul>
				</div>
			  <div class="tab-content span10">
			  	<div class="tab-pane active" id="social_media">
			  		<h1 style="margin-left: 20px;">Social Media</h1>
					<div class="social-block">
									<div class="social-icon">
											<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.hopelauncher.com/projects/<%=@project.id%>'), 'facebook-share-dialog', 'width=626,height=436'); return false;"><img src="/assets/large_facebook_square.png"></img></a>
									</div>
									<div class="well social-caption">
										Sharing on Facebook Allows people to convey the personal importance of the project to their community.
									</div>
								</div>

						  		<div class="social-block">
									<div class="social-icon">
											<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.hopelauncher.com/projects/<%=@project.id%>'), 'facebook-share-dialog', 'width=626,height=436'); return false;"><img src="/assets/large_twitter_share.png"></img></a>
									</div>
									<div class="well social-caption">
										Tweeting about your project keeps people updated and engaged.
									</div>
								</div>
								<br/>

							    
								<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=5213f4a0037e63ad" type="text/javascript"></script>
								<!--<script type="text/javascript">
								// 	//var addthis_email = { email_vars: {
								// 	// url: "<%= project_url(@project.id) %>",
								// 	// title: "<%= @project.title %>",
								// 	// from: "<%= @project.creator.mail_email %>",
								// 	// note: "<%= @project.description %>"
								// 	//} }
								</script> -->
						  		<div class="social-block">
									<div class="social-icon">
										<a href="http://www.addthis.com/bookmark.php"
									        class="addthis_button_email"
									        style="text-decoration:none;" 
									        addthis:url="<%=project_url(@project.id)%>"
									        addthis:title="<%= @project.title %>"
									        addthis:from="<%= @project.creator.mail_email %>"
									        addthis:description="<%= @project.description %>" >
									        <span class="h-icon-envelop" style="font-size:130px; text-align:center; color:#093; vertical-align:middle;"></span> </a>
								    </div>
									<div class="well social-caption">
										Easily send your project out to all your email contacts.
									</div>
								</div>
								<script type="text/javascript">
									$(function() {
										$('#copyTooltip1, #copyTooltip2').tooltip({
											trigger: 'manual',
											container: '#containsCopyProjectLink',
											delay: { show: 500, hide: 100 }
										})
										$('#copyTooltip1, #copyTooltip2').tooltip({
											trigger: 'manual',
											container: '#containsCopyProfileLink',
											delay: { show: 500, hide: 100 }
										})
									    $('a#projectLink').zclip({
									        path:'/assets/ZeroClipboard.swf',
									        copy:$('a#projectLink').text(),
									        afterCopy: function() {
												$('#copyProjectTooltip').tooltip('show');
									        }
									    });
									     $('a#profileLink').zclip({
									        path:'/assets/ZeroClipboard.swf',
									        copy:$('a#profileLink').text(),
									        afterCopy: function() {
												$('#copyProfileTooltip').tooltip('show');
									        }
									    });
									    // The link with ID "copy-description" will copy
									    // the text of the paragraph with ID "description"
									});
								</script>
						  		<div class="social-block">
									<div class="social-icon well" >
										<div id="containsCopyProjectLink">
											<a style="padding:4px; word-wrap:break-word; background-color:white; border-radius:4px; border: 1px solid #BBB; display:block;" id="projectLink"><%= project_url(@project.id) %></a>
											<span class="muted small text-center">Click to Copy</span>
										</div>
										<a id="copyProjectTooltip" data-toggle="tooltip" title="Link Copied to Clipboard"></a>
										<div id="containsCopyProjectLink">
											<a style="padding:4px; word-wrap:break-word; background-color:white;border-radius:4px; border: 1px solid #999; display:block;" id="profileLink"><%= user_url(@project.creator.id) %></a>
											<span class="muted small text-center">Click to Copy</span>
										</div>
										<a id="copyProjectTooltip" data-toggle="tooltip" title="Link Copied to Clipboard"></a>
									</div>

									<div class="social-caption well">
										Use this links to spread the word about your project
									</div>
								</div>

			    </div>
			    <div class="tab-pane" id="project_inbox">
			    	<h1>Project Inbox</h1>
			      	<table class='table table-bordered' id='mailbox'>
						<tr>
							<th style="background-color:#D3D3D3">Sender</th>
							<th style="background-color:#C5E4C1">Recipients</th>
							<th style="background-color:#BDFCA9">Subject (# of Messages)</th>
						</tr>
						<% @inbox_conversations.each do |conv| %>
							<tr>
								<%= link_to conversation_path(conv) do %>
									<td><%= link_to conv.originator.name, conversation_path(conv) %></td>
									<td><%= link_to conv.participants.uniq.collect {|p| p.name}.join(", "), conversation_path(conv)%></td>
									<td><%= link_to "#{conv.subject} (#{conv.messages.count})" , conversation_path(conv)%></td>
								<% end %>
							</tr>
						<% end %>
					</table>
			    </div>
			    <div class="tab-pane" id="project_outbox">
			    	<h1>Project Sent Messages</h1>

			    	<table class='table table-bordered' id='mailbox'>
						<tr>
							<th style="background-color:#D3D3D3">Sender</th>
							<th style="background-color:#C5E4C1">Recipients</th>
							<th style="background-color:#BDFCA9">Subject (# of Messages)</th>
						</tr>
						<% @sentbox_conversations.each do |conv| %>
							<tr>
								<%= link_to conversation_path(conv) do %>
									<td><%= link_to conv.originator.name, conversation_path(conv) %></td>
									<td><%= link_to conv.participants.uniq.collect {|p| p.name}.join(", "), conversation_path(conv)%></td>
									<td><%= link_to "#{conv.subject} (#{conv.messages.count})" , conversation_path(conv)%></td>
								<% end %>
							</tr>
						<% end %>
					</table>
			    </div>
			    <div class="tab-pane" id="project_messages">
			    	<h1>Send A Group Message</h1>
			    	<br/>
			      <%= form_for @new_message, :url => project_conversation_path(@project.id), :method => :post, class:"form-horizontal" do |f| %>
							<%= f.text_field :subject, :placeholder => "Subject" %>
							<br/><br/>
							<%= select_tag 'message[group]', "<option value=\"followers\">All Project Followers</option><option value=\"donators\">All Project Donators</option>".html_safe, :id => :message_group, :class => "selectpicker" %>
							<!-- Recipients: All Project Donators -->
							<br/><br/>
							<%= f.text_area :body, :placeholder => "Body" %>
							<br/><br/>
							<%= hidden_field_tag 'message[project_id]', :project_id, :value => @project.id %>
							<%= f.submit 'Send Message', :class=>"btn btn-success" %>
						<% end %>
			    </div>
				</div>
			</div>
		</div>
	</div>
<% end %>