<% content_for :dashboard_content do %>
	  <div class="tab-pane active" id="rewards">
			<div class="container-fluid">
					<% @rewards.each do |reward| %>
						<% if reward.persisted? %>
						<div class="row-fluid reward">
							<div class="span8 offset2" >
								<div style="background-color: #DDF; border: 1px solid #BBF; margin: 15px; padding:15px;">
									<span style="font-size:23px; line-height: 23px; font-weight: 300;">Donation Amount</span><br/>
									$<%= reward.donation_amount_bad_format %><br/><br/>
									<span style="font-size:23px; line-height: 23px; font-weight: 300;">Tax Value</span><br/>
									$<%= reward.value_bad_format %><br/><br/>
									<span style="font-size:23px; line-height: 23px; font-weight: 300;">Description</span><br/>
									<%= reward.description %><br/><br/>
									<span style="font-size:23px; line-height: 23px; font-weight: 300;">Number in Stock</span><br/>
									<%= reward.stock %>
									<br/>
									<%= link_to 'Delete', project_reward_path(@project, reward), :method => :delete, :remote => true, class:"pull-right delete_reward" %>
									<br/>
								</div>
							</div>
						</div>
						<% end %>
					<% end %>
					<script>
						$(function() {
							$('.delete_reward').on('ajax:success', function(){
								$(this).closest('.reward').remove();
								if($('.reward').empty()){
									$('#reward_scale').prop('disabled', false);
								}
							});
						});
					</script>
				<div class="row-fluid">
					<div class="span8 offset2">
				      <h2 class="text-center">Create a New Reward</h2><br/>
					  	<%= form_for @reward, :url => project_rewards_path(@project) do |f| %>

							<%= f.label :donation_amount_bad_format, 'Donation Amount' %><br/>
							<%= f.text_field :donation_amount_bad_format, :type => 'currency' %>
							<br/><br/>
							<%= f.label :value_bad_format, 'Tax Value' %><br/>
							<%= f.text_field :value_bad_format, :type => 'currency' %>
							<br/><br/>
							<%= f.label :stock, 'Number in Stock' %><br/>
							<%= f.number_field :stock %>
							<br/><br/>
							<%= f.check_box :scale, :disabled => (@rewards.any?{|reward| reward.persisted?}), :style => "display:inline;" %>&nbsp;&nbsp;&nbsp;<%= f.label :scale, 'scale', :style => "display:inline" %><br/><br/>

							<%= f.label :description %><br/>
							<%= f.text_area :description , :onKeyDown => "limitText(this.form.reward_description , this.form.countdown,255);",:onKeyUp =>"limitText(this.form.reward_description , this.form.countdown,255);"%>
					        <br/>You have <input readonly type="text" name="countdown" size="3" value="255" class="input-mini"> out of <span style="font-size:18px">255</span> characters left.</font>
							<script>
					            function limitText(limitField, limitCount, limitNum) {
					              if (limitField.value.length > limitNum) {
					                console.log('limitField '+ toString(limitField.value));
					                console.log('limitCount '+ toString(limitCount.value));
					                console.log('limitNum '+ toString(limitNum));
					                limitField.value = limitField.value.substring(0, limitNum);
					              } else {
					                limitCount.value = limitNum - limitField.value.length;
					              }
					            }
					            limitText(document.getElementById('reward_description'), document.getElementsByName('countdown')[0] ,255);
				          </script>
				          <br/>
				          <%= f.submit 'Create Reward', :class => 'btn btn-success' %>
					  	<% end %>
					</div>
				</div>
			</div>
	  </div>
<% end %>