<div class="row-fluid"><h1 style="text-align:center"><%= @project.title %></h1></div>
<div class="container-fluid big-project-square">
	<div class ="row-fluid">
		<div class="span8">
		  <ul class="nav nav-tabs">
			  <li class="active"><a href="#main-tab" data-toggle="tab">Main</a></li>
			  <li><a href="#comments-tab" data-toggle="tab">Comments</a></li>
			  <li><a href="#gallery-tab" data-toggle="tab">Gallery</a></li>
			  <% if current_user and current_user.roles.include?(:admin) %>
			  	<li class="pull-right"><a style="color:white; background-color:#3FC33F" href=<%= dashboard_project_path(@project) %>>Manage project</a></li>
			  <% end %>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="main-tab">
			  		<div style="width:700px; margin-left:auto; margin-right: auto">
				  		<% if @project.content %>
							<%= @project.content.html_safe %>
						<% end %>
					</div>
			  </div>
			  <div class="tab-pane" id="comments-tab">
			  	<%= render :partial => '/layouts/disqus/disqus' %>
			  </div>
			  <div class="tab-pane" id="gallery-tab">
			  	<div class="container-fluid">
			  		<div class="row-fluid">
			  			<div class="span12">
							<% if @project.gallery_images.count > 0 %>
				  				<div id="myCarousel" class="carousel slide">
								  <ol class="carousel-indicators">
								    <% @project.gallery_images.count.times do |index| %>
										<li data-target="#myCarousel" <%= "class='active'" if index == 0 %> data-slide-to="<%= index %>"></li>
								  	<% end %>
								  </ol>
								  <!-- Carousel items -->
								  <div class="carousel-inner">
								    <% @project.gallery_images.each_with_index do |gi, index| %>
											<div class="item <%= ' active' if index == 0 %>"><%= image_tag(gi.image_url) %></div>
								  	<% end %>
								  </div>
								  <!-- Carousel nav -->
								  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
								  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
								</div>
							<% end %>
						  	<!-- <div id="blueimp-gallery" class="blueimp-gallery">
							    <div class="slides"></div>
							    <h3 class="title"></h3>
							    <a class="prev">‹</a>
							    <a class="next">›</a>
							    <a class="close">×</a>
							    <a class="play-pause"></a>
							    <ol class="indicator"></ol>
							</div>
							<div id="image-links">
							  	<%# @project.gallery_images.each_with_index do |gi, index| %>
										<%#= link_to image_tag(gi.image_url(:thumb)), gi.image_url, :data => {:index => index } %>
							  	<%# end %>
							</div> -->
						</div>
					</div>
				</div>
				<%#= render 'image_upload' %>
			  </div>
			</div>
		</div>
		<div class="span4 project-sidebar">
			<%= render 'sidebar' %>
		</div>
	</div>
</div>