<% content_for :dashboard_content do %>
	  <div class="tab-pane active" id="gallery">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span8 offset2">
				      <h2 class="text-center">Create a New Update</h2><br/>
					  	<%= form_for @update, :url => project_update_path(@project, @update) do |f| %>
							<%= text_area_tag 'update[content]', (@update.content.nil? ? "" : @update.content.html_safe), :id => 'update_content' %>
					  		<%= tinymce_assets %>
					  		<script type="text/javascript" src="/assets/tinymce.js"></script>
						    <script type="text/javascript">
						      tinymce.init({
						          selector: "#update_content",
						          height: 400,
						          width: 600,
						          plugins: "image"
						          <% if @project.gallery_images %>
						            , image_list: <%= (render( :inline => (@project.gallery_images.collect {|g_i| {:title => (g_i.image.url[/\/[^\/]+\./][1..-2]).html_safe, :value => g_i.image.url } }).to_json)) %>
						          <% end %>
						       });
						    </script><br/><br/>
						    <%= f.submit 'Save Changes to Update', :class => 'btn btn-large btn-primary' %>
					  	<% end %>
					</div>
				</div>
			</div>
	  </div>
<% end %>