<% content_for :dashboard_content do %>
	  <div class="tab-pane active" id="project_participants">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2">
					  <ul class="nav nav-tabs nav-stacked">
					  	<li><%= link_to "Manage List", project_project_participants_path(@project)%></li>
					    <li><%= link_to "View Donations to Participants",project_tracking_participants_path(@project.id) %></li>
					  	<li class="active"><%= link_to "Donations for #{@project_participant.name}",[@project, @project_participant]%></li>
					  </ul>
					</div>
					<div class="span10">
						<div class="row-fluid">
							<div class="span12">
								<table class="table table-hover">
								<thead><tr>
									<th>Donator</th>
									<th>Cardholder Name</th>
									<th>Pledge Made</th>
									<th>Amount</th>
									<th>Detail</th>
								</tr></thead>
								<tbody>
								<% @donations.each do |donation| %>
									<tr class="<%= donation.status %>">
										<td><%= link_to donation.donator.name, donation.donator %></td>
										<td><%= donation.stripe_hash[:card][:cardholder_name] %></td>
										<!-- <td><%#= link_to donation_w_info[:donation].id, (donation @project, donation_w_info[:donation].id) %></td> -->
										<td><%= donation.created_at.strftime("%l:%M %p, %D") %></td>
										<td>$<%= donation.dollar_amount %></td>
										<% logger.ap donation %>
										<td><%= link_to 'review donation', review_donation_project_path(donation.project_id, donation.id) %></td>
									</tr>
								<% end %>
								<tr>
									<td colspan="3" style="text-align:right;">Total</td>
									<td>$<%= dollar_amount(@project_participant[:total]) %></td>
									<td></td>
								</tr>
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
	  </div>
<% end %>