<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to "<i class='h-icon-rocket'></i> HopeLauncher".html_safe, root_path, style:"font-size:20px;" %></i></li>
          <li><%= link_to "<i class='h-icon-atom'></i> How It Works".html_safe, faq_path %></li>
          <li><%= link_to "<i class='h-icon-airplane'></i> Projects".html_safe, projects_path %></li>
        </ul>
        <ul class="nav pull-right">
        	<% if current_user.nil? %>
            <%= form_tag user_session_path, :method => :post, class:"navbar-form pull-left" do %>
              <%= text_field_tag 'user[email]', '', :placeholder => 'Email' ,id:"navbar-input-1"%>
              <%= password_field_tag 'user[password','', :placeholder=>'Password' ,id:"navbar-input-2"%>
              <button type="submit" class="btn btn-small" id="navbar-form-button">Sign in</button>
            <% end %>
            <li class="divider-vertical"></li>
            <li><%= link_to image_tag('/assets/facebook_login_wide.png'), '/users/auth/facebook', style:"padding:5px;" %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% else %>
            <div class="navbar-form pull-left"><a class="btn btn-success" id="login-btn" style="margin-right:10px;"><i class="icon-white icon-heart"></i> Not You?</a></div>
            <%= form_tag user_session_path, :method => :post, class:"navbar-form pull-left", style:"display:none", id:"nav-login" do %>
              <%= text_field_tag 'user[email]', '', :placeholder => 'Email' ,id:"navbar-input-1"%>
              <%= password_field_tag 'user[email]','', :placeholder=>'Password' ,id:"navbar-input-2"%>
              <button type="submit" class="btn btn-small" id="navbar-form-button">Sign in</button>
            <% end %>
            <li class="divider-vertical"></li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#"><i class='icon-home icon-white'></i> <%= current_user.email %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
	            	<li><%=link_to "Profile", current_user , "tabindex" => "-1"%></li>
								<li><%=link_to "Edit Profile Info", edit_profile_user_path(current_user), "tabindex" => "-1"%></li>
                <li><%=link_to "Messages", '/mail/inbox', "tabindex" => "-1"%></li>
                <li class="divider"></li>
								<li><%= link_to 'Log Out', destroy_user_session_path , "tabindex" => "-1", :method => :delete%></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>