<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en">
<head>
  <title>Hopelauncher</title>
  <meta name="google-site-verification" content="OJMvSP0eeYcvddB7e5wV0p8IAE8hF2c3mOX7voRBWEc" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for(:facebook_metadata) ? yield(:facebook_metadata) : nil  %>
</head>
<!-- <body data-spy="scroll" data-target="#scrollspynavbar"> -->
<body>
	<%= render '/layouts/header' %>
	<% if notice %>
		<div class ="alert alert-block" style="background-color:white; color:#777; margin-left: 20px; margin-right:20px;"><%= notice %> <a class="close fade in" data-dismiss="alert" href="#">&times;</a></div>
	<% end %>
	<!-- <p class ="alert"><%#= alert %></p> -->
<!-- 	<%# if user_signed_in? %>
		Logged in as <strong><%#= current_user.email %></strong>.
		<%#= link_to 'Edit profile', edit_user_registration_path %>
		<%#= link_to 'Logout profile', destroy_user_session_path, :method => :delete %>
	<%# else %>
		<%#= link_to "Sign up", new_user_registration_path %>
		<%#= link_to "Login", new_user_session_path %>
	<%# end %> -->
	<!-- <div class="container-fluid"> -->
		<%= content_for?(:content) ? yield(:content) : yield %>
	<!-- </div> -->
	<%= render '/layouts/facebook/facebook_init' %>
	<%= render '/layouts/jquery_modal_gallery' %>
	<%#= debug @user %>
	<%#= debug session %>
</body>
</html>
