<!DOCTYPE html>
<html>
<head>
  <title>Hopelauncher</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>
<!-- <body data-spy="scroll" data-target="#scrollspynavbar"> -->
<body>
	<%= render '/layouts/header' %>
	<p class ="notice"><%= notice %></p>
	<!-- <p class ="alert"><%#= alert %></p> -->
<!-- 	<%# if user_signed_in? %>
		Logged in as <strong><%#= current_user.email %></strong>.
		<%#= link_to 'Edit profile', edit_user_registration_path %>
		<%#= link_to 'Logout profile', destroy_user_session_path, :method => :delete %>
	<%# else %>
		<%#= link_to "Sign up", new_user_registration_path %>
		<%#= link_to "Login", new_user_session_path %>
	<%# end %> -->
	<div class="container-fluid">
		<%= yield %>
	</div>
	<%= render '/layouts/facebook/facebook_init' %>
	<%= render '/layouts/jquery_modal_gallery' %>
	<%#= debug @user %>
	<%#= debug session %>
	<script type="text/javascript">stLight.options({publisher: "00535bb3-3a9d-4bb8-a6a9-2a74a457bd7c", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
	<script>
	var options={ "publisher": "00535bb3-3a9d-4bb8-a6a9-2a74a457bd7c", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["email", "googleplus", "twitter", "pinterest", "linkedin"]}};
	var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
	</script>
	<div style="position:fixed;top:22%;width:50px;margin-left:-7px;left:0;height:3%">
		<div class="fb-send" data-href="<%= request.url %>"></div>
	</div>
</body>
</html>
