<% content_for :dashboard_content do %>
  <style>
    form {
      /*font-family:"Segoe UI";*/
    }
    /*form > div {
      display:inline-block;
      width:40%;
    }*/
    .user-info-section h1 {
      /*font-family:"Segoe UI";*/
      font-weight: 300;
      font-size: 33px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #666;
    }
    label {
      font-weight: 500;
      font-size: 22px;
      margin-top: 10px;
    }
    span.mocklabel {
      font-weight: 500;
      font-size: 22px;
      margin-top: 10px;
    }
    label+br{
      line-height: 30px;
    }
    .label {
      white-space: normal;
      margin-bottom: 10px;
    }
    .row-fluid.fields {
      /*margin-top: 15px;
      margin-bottom: 15px;*/
      border-left: 8px rgb(120, 158, 120) solid;
      padding: 20px 0px 20px 20px;
    }
  </style>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :multipart => true), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="container-fluid">
      <h1>Organization Information</h1>
      <div class="row-fluid fields">
        <div class="span6">
          <div><%= f.label :legal_name, 'Legal Name' %><span class="label">As in official documents.</span></div>
          <div><%= f.text_field :legal_name %></div>
        </div>

        <div class="span6">
          <div><%= f.label :statement_name, 'Statement Name' %>
          <span class="label">As it will appear on donators' credit card statements.</span></div>
          <div><%= f.text_field :statement_name %></div>
        </div>
      </div>
      <div class="row-fluid fields">
      
        <div class="span6">
          <div>
            <%= f.label :ein, 'EIN' %>
            <span class="label">Employer Identification Number.</span>
          </div>
          <div><%= f.text_field :ein %></div>
        </div>
        <div class="span6">
          <div><%= f.label :statement_number, 'Phone Number' %>
            <span class="label">As it will appear on donators' credit card statements.</span></div>
          <div><%= f.text_field :statement_number %></div>
        </div>
      </div>
      <hr>
      <!-- ORG REP SECTION -->
      <h1>Organization Representative Information</h1>
      <div class="row-fluid fields">
        <div class="span6">
          <div>
            <%= f.label :first_name, 'Full Name' %><br/>
          </div>
          <div>
            <%= f.text_field :first_name, :class => "span6", :placeholder => "First Name" %>
            <%= f.text_field :last_name, :class => "span6", :placeholder => "Last Name" %>
          </div>
        </div>
        <div class="span6">
          <div><%= f.label :street, 'Address' %><br/></div>
          <div>
            <div class="controls controls-row">
            <%= f.text_field :street, :class => "span9", :placeholder=>"Street" %>
            </div>
            <div class="controls controls-row">
              <%= f.text_field :city, :class => "span5", :placeholder => "City" %>
              <%= f.text_field :state, :class => "span2", :placeholder => "State" %>
              <%= f.text_field :zip, :class => "span2", :placeholder => "Zip Code" %>
            </div>
          </div>
        </div>
      </div>
      <!-- Hopelauncher Account -->
      <hr>
    <h1>Hopelauncher Account Information</h1>
    <div class="row-fluid fields">
      <div class="span6">
        <div><%= f.label :email %><br /></div>
        <div><%= f.email_field :email %></div>
        <div><%= f.label :current_password %> <span class="label label-warning">We need your current password to confirm your changes.</span></div>
        <div><%= f.password_field :current_password %></div>
        <br/>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% else %>
          <div>Your account and email are <span class="label label-info">Confirmed</span></div>
        <% end %>
      </div>
      <div class="span6">
        <div><%= f.label :password %> <span class="label">Leave blank if you don't want to change it.</span></div>
        <div><%= f.password_field :password, :autocomplete => "off" %></div>
        <div><%= f.label :password_confirmation %><span class="label">Confirm your new password if you do want to change it.</span></div>
        <div><%= f.password_field :password_confirmation %></div>
     </div>
   </div>
   <hr>
   <!-- Profile And Bio -->
   <h1>Public Profile</h1>
   <div class="row-fluid fields">
      <div class="span6">
        <span class="mocklabel">Profile Image</span><br/><br/>
        <% if current_user.image %>
          <%= image_tag(current_user.image_url(:thumb), :style=>"padding:5px;border:1px dashed #AAA;" ) %>
        <% else %>
          <i class='h-icon-office' style='font-size:40px'></i><br/>
          <span class="label label-warning">No Profile Image – Upload one soon!</span>
        <% end %>
        <br/><br/>
        <div><%= f.file_field :image, :style => "line-height:0px;"%>
          <span class="label label-info">Square images display best.</span>
        </div>
      </div>
      <div class="span6">
        <span class="mocklabel">Description</span><br/><br/>
        <%= text_area_tag '', '', :size => '20x10', :placeholder => "A short description of your organization" %>
      </div>
   </div>
   <!-- Connecting Accounts -->

   <h1>Connect your Account</h1>
   <div class="row-fluid fields">
      <div class="span6">
        <% if current_user.authorizations.exists?(:provider => 'facebook') %> 
        <% else %>
          <%= link_to (image_tag 'http://i.imgur.com/iwZvQJI.png').html_safe, user_omniauth_authorize_path(:facebook) %>
        <% end %>
      </div>
      <div class="span6">
        <div class="well">
          Logging in with Facebook allows streamlines the process of sharing your cause with other users. We never do anything without you being to control it.
        </div>
      </div>
    </div>
    <div class="row-fluid fields">
      <div class="span6">
        <span class="mocklabel">Connect to Stripe</span><br/><br/>
        <%# if current_user.authorizations.exists?(:provider => 'stripe_connect') %>
        <%# else %>
          <p style="font-size:23px;">Your Account
          <% if current_user.account_state == "unapproved" %>
            is <span class="label label-warning" style="font-size:23px;margin:0;line-height:23px;">Unapproved</span>.
            <!-- What to do next -->
          <% elsif current_user.account_state == "under_review" %>
            is <span class="label label-info" style="margin:0;font-size:23px;line-height:23px;">Under Review</span>.
            <!-- What's happening -->
          <% elsif current_user.account_state == "needs_changes" %>
            <span class="label label-important" style="margin:0;font-size:23px;line-height:23px;">Needs Changes</span>.
            <!-- More about what to change -->
          <% elsif current_user.account_state == "approved" %>
            is <span class="label label-success" style="margin:0;font-size:23px;line-height:23px;">Approved</span>!
            <!-- What they can do now -->
            <br/><br/>
            <%= link_to "<img src='/assets/stripe/blue-on-light/blue.png'></img>".html_safe, user_omniauth_authorize_path(:stripe_connect) %>
          <% end %>
          </p>
        <%# end %>
      </div>
   </div>
   <br/><br/>
   <%= f.submit "Update Profile", :class=>"btn btn-large btn-success" %>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

  <%= link_to "Back", :back %>


      </div>
    </div>
  </div>
<% end %>